# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/my-universe"

# Clerk Auth
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Midtrans Payment
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=false

# Cloudflare R2
R2_ENDPOINT=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
R2_PUBLIC_URL=

# Clerk
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=Mid-client-r6G5YMKJftySaprX
NEXT_PUBLIC_MIDTRANS_IS_PRODUCTION=false
NEXT_PUBLIC_SHOW_SIMULATE_PAYMENT=false

# Manual Payment (Static QRIS)
NEXT_PUBLIC_ENABLE_MANUAL_PAYMENT=false
NEXT_PUBLIC_WHATSAPP_NUMBER=6289604800267

# Globe Price
NEXT_PUBLIC_GLOBE_PRICE=29999
